@{
    ViewData["Title"] = "ডেভেলাপার পরিচিতি";
}


<div class="text-left">
    <h4 class="text-center">ডেভেলাপার পরিচিতি</h4>
    <hr />
    <p>
        আমি কুমারজিৎ দত্ত। চট্টগ্রাম বিশ্ববিদ্যালয় কম্পিউটার বিজ্ঞান ও প্রকৌশল বিভাগের একজন প্রাক্তন ছাত্র। বর্তমানে রূপালী
        ব্যাংক লিমিটেডের আইসিটি সিস্টেমস বিভাগে সিনিয়র অফিসার (এসিসটেন্ট প্রোগ্রামার) হিসাবে নিযুক্ত আছি।
    </p>

    <p>
        এই সাইটটি চট্টগ্রামের করোনা চিকিৎসা সংক্রান্ত তথ্যসস তুলে ধরার এক ক্ষুদ্র প্রয়াস। দেশের এই দুর্যোগময় পরিস্থিতিতে আশা করি
        এই সাইটটি কিছুটা হলেও আপনাদের কাজে আসবে। সাইটটিতে পর্যাপ্ত পরিমাণে অথেন্টিক ডাটা প্রয়োজন বিধায় আপনাদের সহযোগিতা একান্ত কাম্য।
    </p>

    <p>
        সাইটটি সম্পর্কে যেকোন পরামর্শ, অভিযোগ, উপদেশ কিংবা করোনার চিকিৎসা সম্পর্কিত কোন তথ্য
        এই <a href="mailto:kumarjitdutta581@gmail.com">ই-মেইল এড্রেসে</a> পাঠিয়ে সাহায্য করুন অথবা ফেইসবুক ম্যাসেজ করতে পারেন এই লিংকেঃ <a href="https://www.facebook.com/kumarjit.dutta">ফেইসবুক লিংক</a>
    </p>
</div>