@{
    ViewData["Title"] = "হোমপেইজ";
}

<div>

    <h3 class="text-center">স্বাস্থ্যসেবা এপে আপনাকে স্বাগতম।</h3>
    <hr />
    <br />
    <div class="text-left">
        <p>
            করোনা মহামারির শুরু থেকেই বিভিন্ন সাইটে করোনা সম্পর্কিত তথ্য ঘাঁটাঘাঁটি করা হতো।
            এখন পর্যন্ত যে কয়টি ওয়েবসাইটে  দেশের করোনা চিকিৎসা-টেস্ট সম্পর্কিত তথ্য পাওয়া যায়,
            সেখানে চট্টগ্রামের তথ্য পর্যাপ্ত পরিমাণে নেই বললেই চলে কিংবা আমার চোখে সেভাবে পড়েনি।
            তাই শেষ যেবার চট্টগ্রামে গেলাম তখন থেকে করোনা চিকিৎসায় চট্টগ্রামের অধিবাসীদের জন্য গুরুত্বপূর্ণ তথ্যসমূহ
            এক প্লাটফর্মে আনার কাজ শুরু করি। এবং সেই প্রচেষ্টার ফলাফল আজকের এই ওয়েব এপ
        </p>
        <p>
            ওয়েব এপটির বিভিন্ন দিকগুলি সংক্ষেপে তুলে ধরা হলো:
        </p>
        <p>
            <b>বাংলাদেশ আপডেটঃ</b> এই পেইজে দেশের দৈনিক করোনা আক্রান্তের পরিসংখ্যান তুলে ধরা হয়েছে। তালিকাটি তারিখ বা সংখ্যা অনুযায়ী সাজিয়ে নিতে পারবেন। এই তথ্যগুলো সংগ্রহ করা হয়েছে করোনা সংক্রান্ত এক আন্তর্জাতিক সাইটের API হতে।
            প্রতিদিন গড়ে দুবার করে তারা ডাটা আপডেট করে থাকে, সেই সময় তালিকাটি পেতে সাময়িক অসুবিধা হতে পারে।
        </p>
        <p>
            <b>আন্তর্জাতিক আপডেটঃ</b> আগের পেইজটির অনুরূপ, আন্তর্জাতিক পরিসংখ্যান তুলে ধরা হয়েছে। এতেও  পূর্বের API টি ব্যবহার করা হয়েছে।
        </p>
        <p>
            <b>হাসপাতাল সমূহঃ</b> চট্টগ্রামে করোনা চিকিৎসা প্রদানকারী হাসপাতালসমূহের একটি তালিকা এই পেইজে রাখা হয়েছে। এই পেইজ হতে হাসপাতালসমূহের ঠিকানা,
            ফোন নাম্বার দেখে নিতে পারেন। একই সাথে ম্যাপে হাসপাতাল সমূহের অবস্থান দেখার ব্যবস্থা রাখা হয়েছে।
        </p>
        <p>
            <b>টেস্টকেন্দ্রসমূহঃ</b> চট্টগ্রামে করোনা সনাক্তকরণ কেন্দ্রসমূহের তালিকা  এই পেইজে রাখা হয়েছে। এই পেইজ হতে টেস্ট কেন্দ্রের ঠিকানা ফোন নাম্বার দেখে নিতে পারেন। সেই সাথে ম্যাপ লোকেশন চেক করার সুবিধাও রাখা হয়েছে।
            (কিছু টেস্ট কেন্দ্রের যোগাযোগের নাম্বার অনেক খুঁজেও পাইনি বিধায় কিছু নাম্বার  ফাঁকা রাখা হয়েছে। কেউ সঠিকভাবে জানলে আপডেট করে দেওয়া যাবে)
        </p>
        <p>
            <b>তথ্যসমগ্রঃ</b> করোনা সংক্রান্ত গুরুত্বপূর্ণ তথ্যসমূহ যেমন - অক্সিজেন প্রাপ্তির স্থান, বিভিন্ন শ্বাসের ব্যায়াম, বিনামূল্যে অক্সিজেন রিফিল, চট্টগ্রাম মেট্রোপলিটন পুলিশের নাম্বার,
            এম্বুলেন্স সার্ভিসের নাম্বার এই ধরনের তথ্য গুলো এখানে রাখা হয়েছে। সেই সাথে তথ্য প্রাপ্তির রেফারেন্সও দেওয়া আছে প্রতি পোস্টে। রেফারেন্স দেওয়াতে কারো সমস্যা হলে, অনুগ্রহ করে জানাবেন, রেফারেন্স/পোস্ট সরিয়ে ফেলা হবে। এই সেকশনে আরো বেশি তথ্যের জন্য সকলের সহযোগিতা দরকার।
        </p>
        <p>
            <b>প্লাজমা ডোনারঃ</b> এই সেকশনটি নিয়ে আশংকা ও সম্ভাবনা দুটিই পর্যাপ্ত। করোনাজয়ী ইউজারদের তালিকা তৈরীই মূলত এই  মডিউলটির মূল উদ্দেশ্য ছিল, যাতে করে তাদের প্লাজমা ডোনেশন পরবর্তীতে অন্যদের জীবন বাঁচাতে পারে। ইউজারের ইনপুটের ব্যবস্থা থাকলেও,
            এডমিন ভেরিফিকেশন ছাড়া কোন অযথা ইনপুট তালিকাতে আসবে না। এই মডিউলে অহেতুক ইনপুট না দেওয়ার অনুরোধ থাকলো।
        </p>
        <p>
            এসব মডিউলের বাইরে অন্য কোন আইডিয়া যা মানুষের কাজে আসতে পারে বলে আপনার মনে হয়, তা অবশ্যই শেয়ার করবেন। চট্টগ্রামে করোনা চিকিৎসা সম্পর্কিত গুরুত্বপূর্ণ তথ্য শেয়ার করে সহযোগিতা করবেন, সময়মত আপডেট করে দেওয়া হবে। অনেক গুরুত্বপূর্ণ অথ্য/পোস্ট আমি খুঁজেও পাইনি,
            তাই সব তথ্য হালনাগাদ করা সম্ভব হয়নি। সাইটে আপ দেওয়া কোন তথ্য ভুল হলেও সংশোধন করে দিবেন।  যতদিন করোনার হাত থেকে আমরা মুক্তি পাচ্ছিনা, আশা করি এই ওয়েব এপটা হোস্ট করে রাখতে পারবো। সবাই ভাল থাকবেন, সাবধানে থাকবেন।
        </p>
        <p>ব্রাউজিং সুবিধার জন্য সাইটটির এন্ড্রয়েড এপ লিংকঃ <a href="~/Content/download/manchitro_info.apk" target="_blank">এন্ড্রয়েড এপ</a></p>
    </div>
</div>
